#header{
    height: 100px;
    background-color: rgba(78,160,255,255);
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 30%;
    line-height: 80px;
}

.logo{
    height: 50px;
    vertical-align: middle;
}

.pattern{
    width: 110px;
    background-repeat: repeat-x;
}

.Titolo-principale{
    width: 65%;
}

.foto{
    width: 40%;
    font-size: small;
}

table{
    border-spacing: 0px;
}

thead{ background-color: rgba(32,169,229,255);

}

.azzurro{
    background-color: rgba(177,229,242,255);
}

#bg-img1{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    height: 250px;
}

#bg-img2{
    background-image: url("../img/graph.jpg");
}

.bg-img-size{
    background-repeat: no-repeat;
    height: 250px;
    color: white;
    font-size: 24px;
}

.Container{
    width: 1200px;
    margin:auto;

}