#header{
    background-color: rgba(78,160,255,255);
}

.logo{
    width: 100px;
}

.pattern{
    width: 110px;
    background-repeat: repeat-x;
}

.Titolo-principale{
    width: 65%;
}

.foto{
    width: 40%;
    font-size: small;
}

thead{ background-color: rgba(32,169,229,255);

}

.azzurro{
    background-color: rgba(177,229,242,255);
}